sim_agravos.csv
agregados.csv
taxa_sim.csv
pre_taxa_sim.csv
/.ipynb_checkpoints/
/bases_socio/
taxa_sim.h5
pre_taxa_sim.h5
sim.csv
pre_taxa_sim_new.csv
taxa_sim_new.csv
sih.csv
sih_agravos.csv
agregados_sih.csv
pre_taxa_sih.csv
taxa_sih.csv
pre_taxa_sih_cap.csv
pre_taxa_sim_cap.csv
pre_taxa_sim_cap.h5
taxa_sih_cap.csv
taxa_sim_cap.csv
taxa_sim_cap.h5
munic_grupo.csv
Notebooks novos/coeficientes.csv
HEPATITES_Minas_Gerais_2.csv
Notebooks novos/coeficientes_2.csv
Notebooks novos/indicadores_mortalidade.csv
planilha - capitulos.csv
índices/IMRS.csv
dados_socieconomicos2.csv
dados_socieconomicos2.csv
