sim_agravos.csv
agregados.csv
taxa_sim.csv
pre_taxa_sim.csv
/.ipynb_checkpoints/
/bases_socio/
taxa_sim.h5
pre_taxa_sim.h5
sim.csv
pre_taxa_sim_new.csv
taxa_sim_new.csv
sih.csv
sih_agravos.csv
agregados_sih.csv
pre_taxa_sih.csv
taxa_sih.csv
pre_taxa_sih_cap.csv
pre_taxa_sim_cap.csv
pre_taxa_sim_cap.h5
taxa_sih_cap.csv
taxa_sim_cap.csv
taxa_sim_cap.h5
